/* styles.css */

.loading-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.loading-text {
  position: absolute;
  font-size: 2rem;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  animation: fadeIn 2s ease-in-out infinite alternate;
  z-index: 10;
}

/* Para el efecto de parpadeo del texto */
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.stars {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}

.star:nth-child(odd) {
  animation-duration: 1.5s;
}

.star:nth-child(even) {
  animation-duration: 2.5s;
}
